<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @match.time %>
</p>

<p>
  <strong>Score:</strong>
  <%= @match.score %>
</p>

<p>
  <strong>Players:</strong>
  <ul>
    <% @match.players.each do |player| %>
      <li><%= player.full_name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
